node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
coverage
.nyc_output
.stylelintcache
cypress/videos
cypress/screenshots
.env
.envrc
.venv/
**/__pycache__/
*.pyc
tests/testdata/testoutput/*
**/.ipynb_checkpoints/
notebooks/catalog_data_imgs
notebooks/catalog_imgs
notebooks/region_imgs
notebooks/multi_region_imgs
public/assets/items/poverty-mapping-test.png
public/assets/items/valid-*.png
htmlcov/*
.coverage