node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
coverage
.nyc_output
.stylelintcache
cypress/videos
cypress/screenshots
.env
.envrc
public/assets/items/*.png
public/assets/multiregions/*.png
.venv/
**/__pycache__/
*.pyc
tests/testdata/testoutput/*
**/.ipynb_checkpoints/
notebooks/catalog_data_imgs
notebooks/catalog_imgs
notebooks/region_imgs
notebooks/multi_region_imgs
htmlcov/*
.coverage