@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Inter-Regular.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Inter-Medium.woff2') format('woff2');
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Inter-Bold.woff2') format('woff2');
	}

	[type='text']:focus,
	[type='email']:focus,
	[type='url']:focus,
	[type='password']:focus,
	[type='number']:focus,
	[type='date']:focus,
	[type='datetime-local']:focus,
	[type='month']:focus,
	[type='search']:focus,
	[type='tel']:focus,
	[type='time']:focus,
	[type='week']:focus,
	[multiple]:focus,
	textarea:focus,
	select:focus {
		--tw-ring-color: transparent;
	}

	html {
		letter-spacing: -0.025em;
	}
}
